/* Coolors Exported Palette - coolors.co/85ffc7-297373-ff8552-e6e6e6-39393a */

$green: #85ffc7; //rgba(133, 255, 199, 100)
$blue: #297373; //rgba(41, 115, 115, 100)
$orange: #ff8552; //rgba(255, 133, 82, 100)
$gray: #e6e6e6; //rgba(230, 230, 230, 100)
$white: #39393a; //rgba(57, 57, 58, 100)