.editorWrapper {
  margin: 0 auto;
  text-align: center;
}

textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.btn_main {
  background: $orange;
  color: white;
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 0 auto;
  text-align: center;
}